################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

echo node_modules/ > .gitignore
echo .vs/ >> .gitignore
echo backend/bin/ >> .gitignore
echo backend/obj/ >> .gitignore
echo frontend/node_modules/ >> .gitignore
echo *.log >> .gitignore